
.documentList {
	list-style-type: none;
	padding-left: 0;
}

.documentList li { background: #f1f1f1; }
.documentList li:nth-child(odd) { background: white; }

.searchBox {
    width: 800px;
    margin-left: auto; 
    margin-right: auto;
    display: table;
}

.searchBox input {
	border: solid 1px #a1a1a1;
	width: 720px;
	height: 27px;
}

.searchBox button {
	float: right;
}

.documentsListContainer {
	border: solid 1px #f1f1f1;
    width: 800px;
    margin-left: auto; 
    margin-right: auto;
}

.docIconWord {
	background-image:url('../images/page_word.png');
	display: inline-block;
	width: 16px;
	height: 16px;
}

.docIconPdf {
	background-image:url('../images/pdf_document.png');
	display: inline-block;
	width: 16px;
	height: 16px;
}

.docIconExcel {
	background-image:url('../images/page_excel.png');
	display: inline-block;
	width: 16px;
	height: 16px;
}